<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://thuvienvector.com/upload/images/items/vector-hoa-van-hoa-tiet-trong-dong-viet-nam-72.webp" type="image/x-icon">
    <title>Di Tích HT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/root.css">
</head>
<body>
    <div class="root grid">
        <div class="root__header-block">
            <div class="root__nav">
                <div class="root__nav-bread">Trang chủ</div>
                <ul class="root__nav-list">
                    <li class="root__nav-item">
                        <a href="#" class="root__nav-link"><span>Thông tin</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="#" class="root__nav-link"><span>Giới thiệu</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="#" class="root__nav-link"><span>Hỗ trợ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="#" class="root__nav-link"><span>Dịch vụ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="#" class="root__nav-link"><span>Liên hệ</span></a>
                    </li>
                </ul>
            </div>
            <div id="header" class="root__header">
                <div class="root__header-left">
                    <a href="../../index.html" class="root__header-logo">
                        <img src="../libs/img/logo-ditich-white.png" alt="" class="root__header-logo-img">
                    </a>
                    <div class="root__header-search">
                        <input type="text" class="root__header-search-input" placeholder="Tìm kiếm...">
                        <button class="root__header-search-btn">Tìm kiếm</button>
                    </div>
                </div>
                <div class="root__header-ac">
                    <div class="root__header-ac-on">
                        <a class="root__header-ac-btn">
                            <i class="fal fa-user-plus"></i>
                            <span>Đăng nhập</span>
                        </a>
                        <a class="root__header-ac-btn">
                            <i class="fal fa-user-lock"></i>
                            <span>Đăng ký</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="root__body">
            <div class="root__sildebar">
                <ul class="root__sildebar-menu">
                    <li class="root__sildebar-menu-list">
                        <a href="../../index.html" class="root__sildebar-menu-link active">
                            <i class="fal fa-book"></i>
                            <span>Di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./festival.html" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Lễ hội</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Hiện vật</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Nhân vật</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Xếp hạng</span>
                        </a>
                    </li>
                    <div class="root__sildebar-menu-sep"></div>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Lý lịch di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Địa điểm</span>
                        </a>
                    </li>
                    <div class="root__sildebar-menu-sep"></div>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Thư viện ảnh</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Thống kê</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Tài liệu</span>
                        </a>
                    </li>
                    <div class="root__sildebar-menu-sep"></div>
                    <li class="root__sildebar-menu-list">
                        <a href="" class="root__sildebar-menu-link">
                            <i class="fal fa-book"></i>
                            <span>Người dùng</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="root__content-block">
               <div id="content" class="root__content">
                   <!-- content page  -->
                   <div class="festival grid">
                       <div class="festival__header"> 
                           <style>
                               .oke{
                                   display: flex;
                                   align-items: center;
                                   height: 25px;
                               }
                               .oke img{
                                   height: 25px;
                                   width: 25px;
                                   margin-right: 5px;
                               }
                               .oke span{
                                    line-height: 2.5rem;
                                }
                           </style>
                           <div class="oke">
                               <img src="../libs/img/folder.png" alt="">
                               <span>oke bạn</span>
                           </div>
                           <h1 class="festival__title title">Lễ hội văn hóa</h1>
                           <p class="festival__desc">Trang quản lý hiện vật & Tài liệu hiện vật giúp bạn thống kê các
                            hiện vật hiện có, các hiện vật đều được liên kết với các di tích.</p>
                            <div class="festival__search">
                                <input type="text" class="festival__search-input" placeholder="Tìm kiếm...">
                                <button class="festival__search-btn btn">Tìm kiếm</button>
                            </div>
                       </div>
                       <div class="festival__list row">
                           <a href="#" class="festival__item col l-4 m-6 c-12">
                                <div class="festival__item-media">
                                    <img src="https://i1-dulich.vnecdn.net/2021/05/28/le-hoi-cau-ngu-nhuong-ban-1-2355-1622208511.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=h6PaYpy1POI4d40sSzpGMA" alt="">
                                </div>
                                <div class="festival__item-content">
                                    <h2 class="festival__item-title">Lễ hội cầu ngư ở Hà Tĩnh thành di sản văn hóa</h2>
                                    <h3 class="festival__item-text">
                                        <i class="fal fa-map-marked"></i> Thôn Phúc Hải, xã Cẩm Nhượng, huyện Cẩm Xuyên, Tỉnh Hà Tĩnh.
                                    </h3>
                                    <p class="festival__item-desc compact">
                                        Lãnh đạo Sở Văn hóa, Thể thao và Du lịch Hà Tĩnh khẳng định việc công nhận lễ hội là di sản văn hóa quốc gia nhằm khẳng định tính đa dạng trong truyền thống văn hóa của người Việt Nam nói chung, người miền Trung nói riêng. Đây là cơ hội tốt để tỉnh phát huy các giá trị văn hóa, phát triển du lịch.
                                    </p>
                                </div>
                           </a>
                           <a href="#" class="festival__item col l-4 m-6 c-12">
                                <div class="festival__item-media">
                                    <img src="https://i1-dulich.vnecdn.net/2021/05/28/le-hoi-cau-ngu-nhuong-ban-1-2355-1622208511.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=h6PaYpy1POI4d40sSzpGMA" alt="">
                                </div>
                                <div class="festival__item-content">
                                    <h2 class="festival__item-title">Lễ hội cầu ngư ở Hà Tĩnh thành di sản văn hóa</h2>
                                    <h3 class="festival__item-text">
                                        <i class="fal fa-map-marked"></i> Thôn Phúc Hải, xã Cẩm Nhượng, huyện Cẩm Xuyên, Tỉnh Hà Tĩnh.
                                    </h3>
                                    <p class="festival__item-desc compact">
                                        Lãnh đạo Sở Văn hóa, Thể thao và Du lịch Hà Tĩnh khẳng định việc công nhận lễ hội là di sản văn hóa quốc gia nhằm khẳng định tính đa dạng trong truyền thống văn hóa của người Việt Nam nói chung, người miền Trung nói riêng. Đây là cơ hội tốt để tỉnh phát huy các giá trị văn hóa, phát triển du lịch.
                                    </p>
                                </div>
                           </a>
                           <a href="#" class="festival__item col l-4 m-6 c-12">
                                <div class="festival__item-media">
                                    <img src="https://i1-dulich.vnecdn.net/2021/05/28/le-hoi-cau-ngu-nhuong-ban-1-2355-1622208511.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=h6PaYpy1POI4d40sSzpGMA" alt="">
                                </div>
                                <div class="festival__item-content">
                                    <h2 class="festival__item-title">Lễ hội cầu ngư ở Hà Tĩnh thành di sản văn hóa</h2>
                                    <h3 class="festival__item-text">
                                        <i class="fal fa-map-marked"></i> Thôn Phúc Hải, xã Cẩm Nhượng, huyện Cẩm Xuyên, Tỉnh Hà Tĩnh.
                                    </h3>
                                    <p class="festival__item-desc compact">
                                        Lãnh đạo Sở Văn hóa, Thể thao và Du lịch Hà Tĩnh khẳng định việc công nhận lễ hội là di sản văn hóa quốc gia nhằm khẳng định tính đa dạng trong truyền thống văn hóa của người Việt Nam nói chung, người miền Trung nói riêng. Đây là cơ hội tốt để tỉnh phát huy các giá trị văn hóa, phát triển du lịch.
                                    </p>
                                </div>
                           </a>
                       </div>
                   </div>
                   <!-- content page  -->
               </div>
            </div>
            <div class="root__section">
                <div class="root__section-news">
                    <h2 class="root__section-title">Tin tức</h2>
                    <div class="root__section-news-list">
                        <a href="#" class="root__section-news-item">
                            <div class="root__section-news-item-media">
                                <img src="https://lh5.googleusercontent.com/-GoBGvW0t48w/TzKZ1Yhd15I/AAAAAAAAJKA/MIdmnDyOw4c/s390/120209_hanthienhai12.jpg" alt="" class="">
                            </div>
                            <div class="root__section-news-item-contet">
                                <h3 class="root__section-news-item-title compact">7 nữ anh hùng kiệt xuất của lịch sử Việt Nam</h3>
                                <p class="root__section-news-item-desc compact">Dù những năm tháng chiến tranh đau thương đã lùi xa, những mất mát đang dần được khỏa lấp trong cuộc sống hòa bình hôm nay nhưng lịch sử Việt Nam luôn khắc ghi đóng góp to lớn của những nữ anh hùng, như Hai Bà Trưng, Nguyễn Thị Định, Võ Thị Sáu,...</p>
                            </div>
                        </a>
                        <a href="#" class="root__section-news-item">
                            <div class="root__section-news-item-media">
                                <img src="https://lh3.googleusercontent.com/-aAvXbhsL504/TzKZzA9U4II/AAAAAAAAJJo/TD7E5Mr5b4g/120209_hanthienhai09.jpg" alt="" class="">
                            </div>
                            <div class="root__section-news-item-contet">
                                <h3 class="root__section-news-item-title compact">7 nữ anh hùng kiệt xuất của lịch sử Việt Nam</h3>
                                <p class="root__section-news-item-desc compact">Dù những năm tháng chiến tranh đau thương đã lùi xa, những mất mát đang dần được khỏa lấp trong cuộc sống hòa bình hôm nay nhưng lịch sử Việt Nam luôn khắc ghi đóng góp to lớn của những nữ anh hùng, như Hai Bà Trưng, Nguyễn Thị Định, Võ Thị Sáu,...</p>
                            </div>
                        </a>
                        <a href="#" class="root__section-news-item">
                            <div class="root__section-news-item-media">
                                <img src="https://edu.viettel.vn/upload/64504/20190705/grab0bade120209_hanthienhai43.jpg" alt="" class="">
                            </div>
                            <div class="root__section-news-item-contet">
                                <h3 class="root__section-news-item-title compact">7 nữ anh hùng kiệt xuất của lịch sử Việt Nam</h3>
                                <p class="root__section-news-item-desc compact">Dù những năm tháng chiến tranh đau thương đã lùi xa, những mất mát đang dần được khỏa lấp trong cuộc sống hòa bình hôm nay nhưng lịch sử Việt Nam luôn khắc ghi đóng góp to lớn của những nữ anh hùng, như Hai Bà Trưng, Nguyễn Thị Định, Võ Thị Sáu,...</p>
                            </div>
                        </a>
                        <a href="#" class="root__section-news-item">
                            <div class="root__section-news-item-media">
                                <img src="https://edu.viettel.vn/upload/64504/20190705/grab51d70120209_hanthienhai47.jpg" alt="" class="">
                            </div>
                            <div class="root__section-news-item-contet">
                                <h3 class="root__section-news-item-title compact">7 nữ anh hùng kiệt xuất của lịch sử Việt Nam</h3>
                                <p class="root__section-news-item-desc compact">Dù những năm tháng chiến tranh đau thương đã lùi xa, những mất mát đang dần được khỏa lấp trong cuộc sống hòa bình hôm nay nhưng lịch sử Việt Nam luôn khắc ghi đóng góp to lớn của những nữ anh hùng, như Hai Bà Trưng, Nguyễn Thị Định, Võ Thị Sáu,...</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="root__section-sep"></div>
                <div class="root__section-relics">
                    <h2 class="root__section-title">Di tích mới cập nhật</h2>
                    <div class="root__section-relics-list">
                        <a href="#" class="root__section-relics-item">
                            <div class="root__section-relics-item-media">
                                <img src="https://photo-cms-viettimes.zadn.vn/666x374/Uploaded/2021/qjrfn/2016_03_08/87312_bwlg.jpg" alt="" class="">
                            </div>
                            <div class="root__section-relics-item-contet">
                                <h3 class="root__section-relics-item-title compact">7 nữ anh hùng kiệt xuất của lịch sử Việt Nam</h3>
                                <p class="root__section-relics-item-desc compact">Dù những năm tháng chiến tranh đau thương đã lùi xa, những mất mát đang dần được khỏa lấp trong cuộc sống hòa bình hôm nay nhưng lịch sử Việt Nam luôn khắc ghi đóng góp to lớn của những nữ anh hùng, như Hai Bà Trưng, Nguyễn Thị Định, Võ Thị Sáu,...</p>
                                <div class="root__section-relics-item-ac">
                                    <div class="root__section-relics-item-ac-date">23/12/2021</div>
                                    <div class="root__section-relics-item-ac-btn btn">Xem</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="root__section-relics-item">
                            <div class="root__section-relics-item-media">
                                <img src="https://photo-cms-viettimes.zadn.vn/666x374/Uploaded/2021/qjrfn/2016_03_08/87312_bwlg.jpg" alt="" class="">
                            </div>
                            <div class="root__section-relics-item-contet">
                                <h3 class="root__section-relics-item-title compact">7 nữ anh hùng kiệt xuất của lịch sử Việt Nam</h3>
                                <p class="root__section-relics-item-desc compact">Dù những năm tháng chiến tranh đau thương đã lùi xa, những mất mát đang dần được khỏa lấp trong cuộc sống hòa bình hôm nay nhưng lịch sử Việt Nam luôn khắc ghi đóng góp to lớn của những nữ anh hùng, như Hai Bà Trưng, Nguyễn Thị Định, Võ Thị Sáu,...</p>
                                <div class="root__section-relics-item-ac">
                                    <div class="root__section-relics-item-ac-date">23/12/2021</div>
                                    <div class="root__section-relics-item-ac-btn btn">Xem</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="root__section-sep"></div>
            </div>
        </div>
    </div>
</body>
</html>
