<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://thuvienvector.com/upload/images/items/vector-hoa-van-hoa-tiet-trong-dong-viet-nam-72.webp" type="image/x-icon">
    <title>Di Tích HT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/root.css">
</head>
<body>
    <div class="root grid">
        <div id="root__header-block" class="root__header-block">
            <div id="root__nav" class="root__nav">
                <ul class="root__nav-list">
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/trang-chu" class="root__nav-link"><span>Cổng thông tin</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="http://dhtn.hatinh.gov.vn/dhtn/portal/folder/trang_chu" class="root__nav-link"><span>Điều hành tác nghiệp</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/trao-doi-hoi-dap" class="root__nav-link"><span>Hỗ trợ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/gioi-thieu" class="root__nav-link"><span>UBND tỉnh Hà Tĩnh</span></a>
                    </li>
                </ul>
                <ul class="root__nav-list">
                    <li class="root__nav-item">
                        <a href="./information.html" class="root__nav-link"><span>Thông tin</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./introduce.html" class="root__nav-link"><span>Giới thiệu</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./support.html" class="root__nav-link"><span>Hỗ trợ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./service.html" class="root__nav-link"><span>Dịch vụ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./contact.html" class="root__nav-link"><span>Liên hệ</span></a>
                    </li>
                </ul>
            </div> 
            <div id="root__header" class="root__header">
                <div class="root__header-left">
                    <div class="root__navmobi">
                        <input type="checkbox" name="" id="root__navmobi__control" hidden>
                        <label for="root__navmobi__control" class="root__navmobi-control">
                            <i class="fal fa-bars"></i>
                        </label>
                        <label for="root__navmobi__control" class="modal__overlay"></label>
                        <div id="root__navmobi" class="root__navmobi-list-block">
                            <ul class="root__navmobi-list">
                                <label for="root__navmobi__control" class="root__navmobi-list-close">
                                    <i class="fal fa-times"></i>
                                </label>
                                <li class="root__navmobi-item">
                                    <a href="../../index.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/forbidden-city.png" alt="">
                                        <span>Danh sách di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./festival.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/paper-lantern.png" alt="">
                                        <span>Lễ hội văn hóa</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./artifacts.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/vase.png" alt="">
                                        <span>Hiện vật</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./character.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/cpu-tower.png" alt="">
                                        <span>Nhân vật được thờ</span>
                                    </a>
                                </li>
                                <hr>
                                <li class="root__navmobi-item">
                                    <a href="./ratings.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/star.png" alt="">
                                        <span>Xếp hạng di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./statistical.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/presentation.png" alt="">
                                        <span>Thống kê di tích</span>
                                    </a>
                                </li>
                                <hr>
                                <li class="root__navmobi-item">
                                    <a href="./place.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/location.png" alt="">
                                        <span>Địa điểm di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./library.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/monitor.png" alt="">
                                        <span>Thư viện ảnh</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./file.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/calligraphy.png" alt="">
                                        <span>Hồ sơ di lích</span>
                                    </a>
                                </li>                            
                            </ul>
                         
                        </div>
                    </div>
                    <a href="../../index.html" class="root__header-hot">
                        <h2 class="root__header-hot-title">Quản lý Di Tích</h2>
                        <h3 class="root__header-hot-desc">Sở văn hóa - Thể thao - Du lịch Hà Tĩnh</h3>
                    </a>
                    <form class="root__header-search">
                        <input type="text" class="root__header-search-input" placeholder="Tìm kiếm di tích, lịch sử, văn hóa, lễ hội...">
                        <button class="root__header-search-btn"><i class="fal fa-search"></i></button>
                    </form>
                </div>
                <div class="root__header-ac">
                    <ul class="root__header-list">
                        <li class="root__header-item">
                            <a href="./news.html" class="root__header-link"><span>Tin tức</span></a>
                        </li>
                        <li class="root__header-item">
                            <a href="./work.html" class="root__header-link"><span>Hoạt động</span></a>
                        </li>
                        <li class="root__header-item">
                            <a href="./book.html" class="root__header-link"><span>Đặt lịch</span></a>
                        </li>
                    </ul>
                    <div class="root__header-ac-btn btn">
                        <img src="../../assets/libs/img/user.png" alt="">
                        <span>Bá Tương</span>
                        <div class="root__userkey">
                            <div class="root__login">
                                <div class="root__login-header">
                                    <h3 class="root__login-header-title">Đăng nhập</h3>
                                    <a href="./register.html" class="root__login-header-link">Đăng ký</a>
                                </div>
                                <form action="" class="root__login-form form">
                                    <div class="root__login-form-group form__group">
                                        <input type="text" class="root__login-form-input form__input" placeholder="Tài khoản hoặc Email">
                                        <i class="fas fa-user form__icon"></i>
                                    </div>
                                    <div class="root__login-form-group form__group">
                                        <input type="password" class="root__login-form-input form__input" placeholder="Mật khẩu">
                                        <i class="fas fa-key form__icon"></i>
                                    </div>
                                    <div class="root__login-form-mind">
                                        <input type="checkbox" name="" id="root__pass" class="root__login-form-mind-check"> 
                                        <label for="root__pass" class="root__login-form-mind-desc">Ghi nhớ thông tin đăng nhập</label>
                                    </div>
                                    <div class="root__login-form-ac">
                                        <a href="#" class="root__login-form-ac-forget">Quên mật khẩu?</a>
                                        <button class="root__login-form-ac-btn btn">Đăng nhập</button>
                                    </div>
                                </form>
                            </div>
                            <div class="root__logged">
                                <div class="root__logged-header">
                                    <h3 class="root__logged-header-title">Truy cập chức năng</h3>
                                    <a href="#" class="root__logged-header-link">Đăng xuất</a>
                                </div>
                                <div class="root__logged-list">
                                    <a href="#" class="root__logged-item">
                                        <img src="../../assets/libs/img/user.png" alt="">
                                        <span>Quản lý tài khoản</span>
                                    </a>
                                    <a href="#" class="root__logged-item">
                                        <img src="../../assets/libs/img/insurance.png" alt="">
                                        <span>Vào trang Admin</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="root__body">
            <div id="root__sildebar" class="root__sildebar">
                <ul class="root__sildebar-menu">
                    <li class="root__sildebar-menu-list">
                        <a href="../../index.html" class="root__sildebar-menu-link">
                            <img src="../../assets/libs/img/forbidden-city.png" alt="">
                            <span>Danh sách di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./festival.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/paper-lantern.png" alt="">
                            <span>Lễ hội văn hóa</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./artifacts.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/vase.png" alt="">
                            <span>Hiện vật</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./character.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/cpu-tower.png" alt="">
                            <span>Nhân vật được thờ</span>
                        </a>
                    </li>
                    <hr>
                    <li class="root__sildebar-menu-list">
                        <a href="./ratings.html" class="root__sildebar-menu-link active">
                             <img src="../../assets/libs/img/star.png" alt="">
                            <span>Xếp hạng di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./statistical.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/presentation.png" alt="">
                            <span>Thống kê di tích</span>
                        </a>
                    </li>
                    <hr>
                    <li class="root__sildebar-menu-list">
                        <a href="./place.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/location.png" alt="">
                            <span>Địa điểm di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./library.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/monitor.png" alt="">
                            <span>Thư viện ảnh</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./file.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/calligraphy.png" alt="">
                            <span>Hồ sơ di lích</span>
                        </a>
                    </li>
                </ul>
                <input type="checkbox" name="" id="root__note" hidden>
                <div class="root__sildebar-note-block">
                    <div class="root__sildebar-note">
                        <label for="root__note" class="root__sildebar-note-ac">
                            <i class="fal fa-times"></i>
                        </label>
                        <div class="root__sildebar-note-header">
                            <img src="../../assets/libs/img/note.png" alt="">
                            <span>Ghi chú</span>
                        </div>
                        <div class="root__sildebar-note-desc">
                            Hệ thống quản lý di tích được vận hành bởi sở Văn Hóa - Thể Thao - Du lịch tỉnh Hà Tĩnh. Nếu bạn gặp vấn đề về sử dụng, xin vui lòng xem: <a href="#">Hướng dẫn sử dụng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="root__content-block" class="root__content-block">
               <div id="root__content" class="root__content">
                    <!-- content page  -->
                    <div class="root__page">
                        <div class="cuspost">
                            <div class="cuspost__header">
                                <h1 class="cuspost__header-title text__key">Hỗ trợ - Di Tích Hà Tĩnh</h1>
                                <p class="cuspost__header-desc text__desc">Bảo tồn và phát huy giá trị các di sản văn hóa</p>
                            </div>
                            <div class="cuspost__body">
                                <div class="cuspost__box">
                                    <!-- <h2 class="cuspost__box-title">Vị trí và chức năng</h2> -->
                                    <div class="cuspost__box-contact">
                                        <div class="cuspost__box-contact">
                                            <h3 class="cuspost__box-contact-title">I. Vị trí và chức năng</h3>
                                            <ul class="cuspost__box-contact-list">
                                                <li class="cuspost__box-contact-item">
                                                    1. Phòng Văn hóa và Thông tin là cơ quan chuyên môn thuộc Ủy ban nhân dân thành phố, có chức năng tham mưu, giúp Ủy ban nhân dân thành phố thực hiện quản lý nhà nước về: văn hoá; gia đình; thể dục, thể thao; du lịch; bưu chính, viễn thông và Internet; công nghệ thông tin, hạ tầng thông tin; phát thanh; báo chí; xuất bản trên địa bàn thành phố.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    2. Phòng Văn hóa và Thông tin có tư cách pháp nhân, có con dấu và tài khoản riêng; chịu sự chỉ đạo, quản lý về tổ chức, biên chế và hoạt động của Ủy ban nhân dân thành phố, đồng thời chịu sự chỉ đạo, kiểm tra, hướng dẫn về chuyên môn, nghiệp vụ của Sở Văn hóa, Thể thao và Du lịch, Sở Thông tin và Truyền thông.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cuspost__box-contact">
                                            <h3 class="cuspost__box-contact-title">II. Nhiệm vụ và quyền hạn</h3>
                                            <ul class="cuspost__box-contact-list">
                                                <li class="cuspost__box-contact-item">
                                                    1. Trình Ủy ban nhân dân thành phố ban hành quyết định, chỉ thị; kế hoạch dài hạn, 05 năm và hàng năm; đề án, chương trình phát triển văn hóa, gia đình, thể dục, thể thao và du lịch, thông tin và truyền thông; chương trình, biện pháp tổ chức thực hiện cải cách hành chính, xã hội hóa trong lĩnh vực quản lý nhà nước được giao.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    2. Trình Chủ tịch Ủy ban nhân dân thành phố dự thảo các văn bản về lĩnh vực văn hóa, gia đình, thể dục, thể thao và du lịch, thông tin và truyền thông thuộc thẩm quyền ban hành của Chủ tịch Ủy ban nhân dân thành phố.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    3. Tổ chức thực hiện các văn bản pháp luật, quy hoạch, kế hoạch, đề án, chương trình đã được phê duyệt; hướng dẫn, thông tin tuyên truyền, phổ biến, giáo dục pháp luật trong lĩnh vực quản lý nhà nước được giao; chủ trương xã hội hóa hoạt động văn hóa, thể dục thể thao; chống bạo lực trong gia đình.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    4. Giúp Ủy ban nhân dân thành phố thẩm định, đăng ký, cấp các loại giấy phép thuộc các lĩnh vực quản lý nhà nước được giao theo quy định của pháp luật và theo phân công, phân cấp của cấp có thẩm quyền.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    5. Hướng dẫn các tổ chức, đơn vị và nhân dân trên địa bàn thành phố thực hiện phong trào văn hóa, văn nghệ; phong trào luyện tập thể dục, thể thao; xây dựng nếp sống văn minh trong việc cưới, việc tang, lễ hội; xây dựng phong trào "Toàn dân đoàn kết xây dựng đời sống văn hóa"; xây dựng gia đình văn hóa, làng văn hóa, khu phố văn hóa, đơn vị văn hóa; bảo vệ các di tích lịch sử, văn hóa và danh lam thắng cảnh; bảo vệ, tôn tạo, khai thác, sử dụng hợp lý tài nguyên du lịch, môi trường du lịch, khu du lịch, điểm du lịch trên địa bàn thành phố.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    6. Giúp Ủy ban nhân dân thành phố quản lý nhà nước đối với mạng lưới phát thanh, truyền thanh cơ sở; hướng dẫn, kiểm tra hoạt động của các Trung tâm văn hóa, thể thao, các thiết chế văn hóa thông tin cơ sở, các cơ sở hoạt động dịch vụ văn hóa, thể thao, du lịch, điểm vui chơi công cộng thuộc phạm vi quản lý của phòng trên địa bàn thành phố.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    7. Giúp Ủy ban nhân dân thành phố quản lý nhà nước đối với tổ chức kinh tế tập thể, kinh tế tư nhân; hướng dẫn và triển khai hoạt động các hội và tổ chức phi chính phủ hoạt động trên địa bàn trong lĩnh vực văn hóa, thể thao, du lịch, thông tin, truyền thông và các lĩnh vực quản lý nhà nước khác được giao theo quy định của pháp luật.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    8. Hướng dẫn chuyên môn nghiệp vụ về lĩnh vực quản lý nhà nước được giao theo quy định của pháp luật đối với các chức danh chuyên môn thuộc Ủy ban nhân dân cấp xã, phường.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    9. Giúp Ủy ban nhân dân thành phố trong việc tổ chức công tác bảo vệ an toàn, an ninh thông tin trong các hoạt động bưu chính, chuyển phát, viễn thông, công nghệ thông tin, internet, phát thanh.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    10. Chịu trách nhiệm theo dõi và tổ chức thực hiện các chương trình, dự án về ứng dụng công nghệ thông tin trên địa bàn thành phố theo sự phân công của Ủy ban nhân dân thành phố.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    11. Tổ chức thực hiện việc quản lý, kiểm tra và hướng dẫn các xã, phường quản lý các đại lý bưu chính, viễn thông, Internet trên địa bàn theo quy định của pháp luật.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    12. Tuyên truyền, phổ biến, hướng dẫn các tổ chức, đơn vị và cá nhân trên địa bàn thành phố thực hiện pháp luật trong các lĩnh vực quản lý nhà nước được giao theo quy định của pháp luật.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    13. Tổ chức ứng dụng tiến bộ khoa học, công nghệ; xây dựng hệ thống thông tin, lưu trữ phục vụ công tác quản lý nhà nước và chuyên môn, nghiệp vụ trong  lĩnh vực quản lý nhà nước được giao theo quy định của pháp luật.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    14. Thực hiện công tác thống kê, thông tin, báo cáo định kỳ và đột xuất về tình hình thực hiện nhiệm vụ được giao theo quy định của Ủy ban nhân dân thành phố và Sở quản lý ngành, lĩnh vực.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    15. Quản lý tổ chức, biên chế, thực hiện chế độ, chính sách, chế độ đãi ngộ, khen thưởng, kỷ luật, đào tạo và bồi dưỡng về chuyên môn nghiệp vụ đối với cán bộ, công chức, viên chức và người lao động thuộc phạm vi quản lý của phòng trong các lĩnh vực quản lý nhà nước được giao theo quy định của pháp luật và phân công của Ủy ban nhân dân thành phố.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    16. Quản lý tài chính, tài sản của Phòng theo quy định của pháp luật và phân cấp, ủy quyền của Ủy ban nhân dân thành phố.
                                                </li>
                                                <li class="cuspost__box-contact-item">
                                                    17. Thực hiện các nhiệm vụ khác do Ủy ban nhân dân thành phố, Chủ tịch Ủy ban nhân dân thành phố giao hoặc theo quy định của pháp luật.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- related -->
                        <div class="root__related">
                            <h2 class="root__related-title">Các bài liên quan</h2>
                            <div class="root__related-list row">
                                <div class="root__related-item-block col l-3 m-4 c-12 ">
                                    <a href="" class="root__related-item">
                                        <div class="root__related-item-media">
                                            <img src="https://sachxua.vn/wp-content/uploads/2020/01/lich-su-viet-nam-bg.jpg" alt="" class="root__related-item-media-img">
                                        </div>
                                        <div class="root__related-content">
                                            <div class="root__related-content-title compact">Chào em anh đứng đây từ chiều</div>
                                            <p class="root__related-content-desc compact">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas doloribus quibusdam amet sint, velit perferendis explicabo. Voluptate est perspiciatis aut minima nostrum animi at delectus optio impedit temporibus, eligendi consequatur.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="root__related-item-block col l-3 m-4 c-12 ">
                                    <a href="" class="root__related-item">
                                        <div class="root__related-item-media">
                                            <img src="https://sachxua.vn/wp-content/uploads/2020/01/lich-su-viet-nam-bg.jpg" alt="" class="root__related-item-media-img">
                                        </div>
                                        <div class="root__related-content">
                                            <div class="root__related-content-title compact">Chào em anh đứng đây từ chiều Chào em anh đứng đây từ chiều Chào em anh đứng đây từ chiều</div>
                                            <p class="root__related-content-desc compact">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="root__related-item-block col l-3 m-4 c-12 ">
                                    <a href="" class="root__related-item">
                                        <div class="root__related-item-media">
                                            <img src="https://sachxua.vn/wp-content/uploads/2020/01/lich-su-viet-nam-bg.jpg" alt="" class="root__related-item-media-img">
                                        </div>
                                        <div class="root__related-content">
                                            <div class="root__related-content-title compact">Chào em anh đứng đây từ chiều Chào em anh đứng đây từ chiều Chào em anh đứng đây từ chiều</div>
                                            <p class="root__related-content-desc compact">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="root__related-item-block col l-3 m-4 c-12 ">
                                    <a href="" class="root__related-item">
                                        <div class="root__related-item-media">
                                            <img src="https://sachxua.vn/wp-content/uploads/2020/01/lich-su-viet-nam-bg.jpg" alt="" class="root__related-item-media-img">
                                        </div>
                                        <div class="root__related-content">
                                            <div class="root__related-content-title compact">Chào em anh đứng đây từ chiều Chào em anh đứng đây từ chiều Chào em anh đứng đây từ chiều</div>
                                            <p class="root__related-content-desc compact">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div> 
                        <!-- related -->
                    </div>
                    <!-- content page  -->
                    <!-- footer  -->
                    <div class="root__footer">
                        Hệ thống quản lý di tích được vận hành bởi sở Văn Hóa - Thể Thao - Du Lịch tỉnh Hà Tĩnh
                    </div>
                    <!-- footer  -->
               </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/root.js"></script>
</html>
